.readyScreen {
    background-color: rgb(123, 187, 27);
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

.versus {
    margin-top: 10% !important;
}

.readyScreenTitle {
    margin-top: 50px !important;
}

.myimage2{
    color: red;
    transition-duration: 100ms;
    transition-property: transform;
    transition-timing-function: ease;
    animation: spin 0.05s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}

.myimage1{
    animation: rotatedFlipped 0.3s linear infinite alternate;
}
@keyframes rotated {
    0% {
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}

@keyframes rotatedFlipped {
    0% {
        transform: rotate(15deg) scaleX(-1);
    }
    100%{
        transform: rotate(-15deg) scaleX(-1);
    }
}
.myimage3{
    animation: rotated 0.35s linear infinite alternate-reverse;
}